FLASK_GITHUB_FORK_OWNER=tvjg
FLASK_GITHUB_FORK_REPO=self-fork
FLASK_GITHUB_USERNAME=tom
FLASK_GITHUB_TOKEN=github_pat_11AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
FLASK_SECRET_KEY=5f352379324c22463451387a0aec5d2f
